<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QG会议纪要系统</title>
    <link rel="stylesheet" href="../static/index.css">
</head>

<body>
    <div class="header">
        <div class="leave">退出登录</div>
        <div class="submit_meeting">上传会议</div>
        <div class="user_information"><img data-src="../images/s0.png" src="../images/s0.png" class="user_image"></div>
        <div class="user_information_show">
            <ul>
                <li class="li_username">姓名:许诺</li>
                <li class="li_group">组别:前端组</li>
                <li class="li_age">年纪:19</li>
                <li class="li_gender">性别:男</li>
            </ul>
        </div>
        <div class="how_much_wait"></div>
    </div>
    <h1 class="QG_title">QG会议纪要管理系统</h1>
    <!-- 轮播图 -->
    <div class="carouse0">
        <h1 class="carouse_title">最近的会议纪要</h1>
        <div class="carousel">
            <div class="carousel_right">
                <img data-src="../images/s-1.png" src="../images/s0.png" class="carousel_right_img">
            </div>
            <div class="carousel_right">
                <img data-src="../images/s-1.png" src="../images/s0.png" class="carousel_right_img">
            </div>
            <div class="carousel_right">
                <img data-src="../images/s-1.png" src="../images/s0.png" class="carousel_right_img">
            </div>
            <div class="carousel_right">
                <img data-src="../images/s-1.png" src="../images/s0.png" class="carousel_right_img">
            </div>
            <div class="carousel_right">
                <img data-src="../images/s-1.png" src="../images/s0.png" class="carousel_right_img">
            </div>
            <div class="carousel_right">
                <img data-src="../images/s-1.png" src="../images/s0.png" class="carousel_right_img">
            </div>
        </div>
        <div class="change_image_left"></div>
        <div class="change_image_right"></div>
    </div>
    <div class="All_meeting">
        <h1>所有会议纪要</h1>
        <ul class="All_meeting_header">
            <li>封面</li>
            <li>标题</li>
            <li>发布时间</li>
            <li>标签</li>
            <li>点赞</li>
            <li>评论</li>
        </ul>
        <ul class="All_meeting_middle">
            <li class="no_meeting">暂无会议纪要</li>
            <!-- <li>
                <div class="All_meeting_content">
                    <div class="All_meeting_img"><img src="../images/s5.jpg"></div>
                    <div class="All_meeting_introduce">回武拆偶哦saddddddd好dsadadada吧
                    </div>
                </div>
                <div class="meeting_time">2024-11-9</br>
                    13:11:5</div>
                <div class="meeting_tag_manager">
                    <div class="meeting_type_work_manager">办公</div>
                    <div class="meeting_sort_manager hurry_manager">加急</div>
                    <div class="meeting_sort_manager competition_manager">比赛</div>
                    <div class="meeting_sort_manager outsourcing_manager">外包</div>
                </div>
                <div class="audit">
                    <div class="like_div">
                        <span class="like iconfont">&#xe7df;</br>
                            <span class="like_num">0</span>
                        </span>
                    </div>
                    <div class="commit_div">
                        <span class="commit iconfont">&#xe7ae;</br><span class="commit_num">0</span>
                        </span>
                    </div>
                </div>
            </li> -->

        </ul>
        <div class="page_control">
            <div class="page_control_botton">
                <button class="page_control_left "><span class="iconfont">&#xe7ec; </span></button>
                <p class="page">第1页</p>
                <button class="page_control_right"><span class="iconfont">&#xe7eb;</span></button>
            </div>
            <div class="input_search">
                <input type="text" class="input_search_text">
                <button class="input_search_text_send iconfont">&#xe8ef;</button>
            </div>
        </div>
    </div>
    <div class="search_tag">
        <ul class="ultag">
            <li>
                <div class="search_tag_div" id=11>
                    办公
                </div>
            </li>
            <li>
                <div class="search_tag_div" id=12>
                    康乐
                </div>
            </li>
            <li>
                <div class="search_tag_div" id=2>
                    比赛
                </div>
            </li>
            <li>
                <div class="search_tag_div" id=4>
                    组会
                </div>
            </li>
            <li>
                <div class="search_tag_div" id=3>
                    外包
                </div>
            </li>
            <li>
                <div class="search_tag_div" id=1>
                    加急
                </div>
            </li>
            <li>
                <div class="search_tag_div" id=5>
                    全会
                </div>
            </li>
        </ul>
        <div class="down_load">下载</div>
        <button class="click_here" onclick='tableToExcel()'>点击这里</button>
    </div>
    <div class="cancel_search">
        <div class="iconfont">&#xe844;<span>取消搜索</span> </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src='../static/index.js'></script>
</body>

</html>