<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/index.css">
</head>

<body>
    <div class="header">
        <div class="submit_meeting">上传会议</div>
        <div class="user_information"><img src="../images/s3.jpg" class="user_image"></div>
        <div class="user_information_show">
            <ul>
                <li class="li_username">姓名:许诺</li>
                <li class="li_group">组别:前端组</li>
                <li class="li_age">年纪:19</li>
                <li class="li_gender">性别:男</li>
            </ul>
        </div>
    </div>
    <h1 class="QG_title">QG会议纪要管理系统</h1>
    <!-- 轮播图 -->
    <div class="carouse0">
        <h1 class="carouse_title">最近的会议纪要</h1>
        <div class="carousel">
            <!-- <div class="carousel_left">
            <h4 class="carousel_left_title">最近的会议纪要</h4>
            <ul>
                <li>第一个</li>
                <li>第二个</li>
                <li>第三个</li>
                <li>第四个</li>
                <li>第五个</li>
            </ul>
        </div> -->
            <div class="carousel_right">
                <img src="../images/s1.jpg" class="carousel_right_img">
            </div>
            <div class="carousel_right">
                <img src="../images/s2.jpg" class="carousel_right_img">
            </div>
            <div class="carousel_right">
                <img src="../images/s3.jpg" class="carousel_right_img">
            </div>
            <div class="carousel_right">
                <img src="../images/s4.jpg" class="carousel_right_img">
            </div>
            <div class="carousel_right">
                <img src="../images/s5.jpg" class="carousel_right_img">
            </div>
            <div class="carousel_right">
                <img src="../images/s6.jpg" class="carousel_right_img">
            </div>
        </div>
    </div>
    <div class="All_meeting">
        <h1>所有会议纪要</h1>
        <ul class="All_meeting_header">
            <li>封面</li>
            <li>标题</li>
            <li>发布时间</li>
            <li>标签</li>
            <li>点赞</li>
            <li>评论</li>
        </ul>
        <ul class="All_meeting_middle">
            <li>
                <div class="All_meeting_content">
                    <div class="All_meeting_img"><img src="../images/s5.jpg"></div>
                    <div class="All_meeting_introduce">回武拆偶哦好dsadadada吧
                    </div>
                </div>
                <div class="meeting_time">2024-11-9</br>
                    13:11:5</div>
                <div class="meeting_tag">
                    <div class="meeting_type_work">办公</div>
                    <div class="meeting_sort hurry">加急</div>
                    <div class="meeting_sort competition">比赛</div>
                    <div class="meeting_sort outsourcing">外包</div>
                </div>
                <div class="give_a_like">0</div>
                <div class="give_a_commit">0</div>
            </li>
            <li>
                <div class="All_meeting_content">
                    <div class="All_meeting_img"><img src="../images/s5.jpg"></div>
                    <div class="All_meeting_introduce">回武拆偶哦好dsadadada吧
                    </div>
                </div>
                <div class="meeting_time">2024-11-9</br>
                    13:11:5</div>
                <div class="meeting_tag">
                    <div class="meeting_type_work">办公</div>
                    <div class="meeting_sort hurry">加急</div>
                    <div class="meeting_sort competition">比赛</div>
                    <div class="meeting_sort outsourcing">外包</div>
                </div>
                <div class="give_a_like">0</div>
                <div class="give_a_commit">0</div>
            </li>
            <li>
                <div class="All_meeting_content">
                    <div class="All_meeting_img"><img src="../images/s5.jpg"></div>
                    <div class="All_meeting_introduce">回武拆偶哦好dsadadada吧
                    </div>
                </div>
                <div class="meeting_time">2024-11-9</br>
                    13:11:5</div>
                <div class="meeting_tag">
                    <div class="meeting_type_work">办公</div>
                    <div class="meeting_sort hurry">加急</div>
                    <div class="meeting_sort competition">比赛</div>
                    <div class="meeting_sort outsourcing">外包</div>
                </div>
                <div class="give_a_like">0</div>
                <div class="give_a_commit">0</div>
            </li>
            <li>
                <div class="All_meeting_content">
                    <div class="All_meeting_img"><img src="../images/s5.jpg"></div>
                    <div class="All_meeting_introduce">回武拆偶哦好dsadadada吧
                    </div>
                </div>
                <div class="meeting_time">2024-11-9</br>
                    13:11:5</div>
                <div class="meeting_tag">
                    <div class="meeting_type_work">办公</div>
                    <div class="meeting_sort hurry">加急</div>
                    <div class="meeting_sort competition">比赛</div>
                    <div class="meeting_sort outsourcing">外包</div>
                </div>
                <div class="give_a_like">0</div>
                <div class="give_a_commit">0</div>
            </li>
            <li>
                <div class="All_meeting_content">
                    <div class="All_meeting_img"><img src="../images/s5.jpg"></div>
                    <div class="All_meeting_introduce">回武拆偶哦好dsadadada吧
                    </div>
                </div>
                <div class="meeting_time">2024-11-9</br>
                    13:11:5</div>
                <div class="meeting_tag">
                    <div class="meeting_type_work">办公</div>
                    <div class="meeting_sort hurry">加急</div>
                    <div class="meeting_sort competition">比赛</div>
                    <div class="meeting_sort outsourcing">外包</div>
                </div>
                <div class="give_a_like">0</div>
                <div class="give_a_commit">0</div>
            </li>
            <li>
                <div class="All_meeting_content">
                    <div class="All_meeting_img"><img src="../images/s5.jpg"></div>
                    <div class="All_meeting_introduce">回武拆偶哦好dsadadada吧
                    </div>
                </div>
                <div class="meeting_time">2024-11-9</br>
                    13:11:5</div>
                <div class="meeting_tag">
                    <div class="meeting_type_work">办公</div>
                    <div class="meeting_sort hurry">加急</div>
                    <div class="meeting_sort competition">比赛</div>
                    <div class="meeting_sort outsourcing">外包</div>
                </div>
                <div class="give_a_like">0</div>
                <div class="give_a_commit">0</div>
            </li>
            <li>
                <div class="All_meeting_content">
                    <div class="All_meeting_img"><img src="../images/s5.jpg"></div>
                    <div class="All_meeting_introduce">回武拆偶哦好dsadadada吧
                    </div>
                </div>
                <div class="meeting_time">2024-11-9</br>
                    13:11:5</div>
                <div class="meeting_tag">
                    <div class="meeting_type_work">办公</div>
                    <div class="meeting_sort hurry">加急</div>
                    <div class="meeting_sort competition">比赛</div>
                    <div class="meeting_sort outsourcing">外包</div>
                </div>
                <div class="give_a_like">0</div>
                <div class="give_a_commit">0</div>
            </li>
        </ul>
        <div class="page_control">
            <div class="page_control_botton">
                <button class="page_control_left "><span class="iconfont">&#xe7ec; </span></button>
                <p class="page">第1页</p>
                <button class="page_control_right"><span class="iconfont">&#xe7eb;</span></button>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src='../static/index.js'></script>
</body>

</html>